<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="container">
      <div>제목 <th:block th:text="${viewList}"></th:block></div>
      <div>작성자 <th:block th:text="${viewList}"></th:block></div>
      <div>작성일 <th:block th:text="${viewList}"></th:block></div>
      <div>글내용 <th:block th:text="${viewList}"></th:block></div>
    </div>
  </body>
</html>
