<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mr Choi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="container">
      <!-- 헤더 -->
      <div th:replace="fragments/nav.html :: fragment-nav"></div>
      <div th:if="${session.log == null}">
        <a href="signInForm">로그인폼</a>
      </div>
      <div th:if="${session.log == 'Y'}">
        <a href="logout">로그아웃</a>
        <span th:text="${session.logName}"></span>
      </div>
    </div>
  </body>
</html>
